{
    "HostedZoneId": "{{ route53_zone_id }}", 
    "ChangeBatch": {
        "Comment": "changed wildcard to k8s", 
        "Changes": [
            {
                "Action": "UPSERT", 
                "ResourceRecordSet": {
                    "Name": "{{ wildcard_record_name }}", 
                    "Type": "A", 
                    "TTL": 300, 
                    "ResourceRecords": [
                        {
                            "Value": "{{ external_ip }}"
                        }
                    ] 
                }
            }
        ]
    }
}
